.meio{
margin: auto;
}
.contato{
    font-size: 3em;
    color: white;
}
.borda{
    border: solid black 0.1em; 
    
}

.form{
    text-align: center;
}

.formb{
    padding: 5px;
}
